<%- include('partials/header'); -%>

<h1>Compose</h1>
<form action="/compose" method="post">

  <div class="col-md-12">
    <label for="title"><b>Title</b></label>
  </div>
  <div class="col-md-12">
      <input class="form-control" type="text" name="title" id="">
  </div>
  
  <div class="col-md-12">
    <label for="content"><strong>Post</strong></label>
  </div>
  <div class="input-group input-group-lg">
    <textarea type="text" rows="3" name="content" class="form-control" id=""></textarea>
  </div>
  <div class="col-md-12">
    <button type="submit" class="btn btn-primary" name="publish">Publish</button>
  </div>
  
</form>
<%- include('partials/footer'); -%>