<%- include('partials/header'); -%>

<h1>Compose</h1>
<form action="/compose" method="post">

  <div class="col-md-12">
    <label for="title">Title</label>
  </div>
  <div class="col-md-12">
      <input type="text" name="title" id="">
  </div>
  
  <div class="col-md-12">
    <label for="content">Content</label>
  </div>
  <div class="input-group input-group-lg">
    <input type="text" name="content" id="">
  </div>
  <div class="col-md-12">
    <button type="submit" name="publish">Publish</button>
  </div>
  
</form>
<%- include('partials/footer'); -%>